*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    min-height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(104,104,108,1) 41%, rgba(219,229,231,1) 100%);
    display: grid;
    place-items: center;
}   

.calculadora{
    background-color: rgba(2,0,36,1);
    color: rgba(219,229,231,1);
    width: 350px;
    max-width: 100%;
    padding: 15px;
    border-radius: 7px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:3px;
}

.pantalla{
    border:solid rgba(219,229,231,1);
    grid-column: 1 / -1;
    background-color: rgba(2,0,36,1);
    padding: 20px;
    font-size: 30px;
    text-align: right;
    border-radius: 7px;
    margin-bottom: 15px;
    font-family: monospace;
    font-weight: 600;
}

.btn{
    background-color:rgba(2,0,36,1);
    color: rgba(219,229,231,1);
    border: none;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.btn:hover{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(104,104,108,1) 41%, rgba(219,229,231,1) 100%);
    cursor: pointer;
}

#cero{
    grid-column: span 2;
}

#igual{
    grid-row: span 2;
    border: solid rgba(219,229,231,1);
    border-radius: 7px;
}

#igual:hover{
    border: none
}